{
    auto_https disable_redirects
}

http:// https:// {
    reverse_proxy {$VIKUNJA_SERVER_HOSTNAME}:3456 {
            header_up Destination https:// http://
            lb_policy header X-Forwarded-For
            trusted_proxies private_ranges
    }
}
